<script language="javascript" type="text/javascript" src="/wajaf/system/core.js"></script>
<script language="javascript" type="text/javascript" src="/wajaf/managers/eventManager.js"></script>
<script language="javascript" type="text/javascript" src="/wajaf/managers/ajaxManager.js"></script>
<script language="javascript" type="text/javascript" src="/wajaf/managers/ondemandManager.js"></script>

Loading a full page:<br />
<br />

<input type="button" onclick="loadpage1()" value="Load page 1">
<input type="button" onclick="loadpage2()" value="Load page 2">
<br />
<input type="button" onclick="unloadpage()" value="Unload current page">
<br />
<br />

<div id="container" style="height: 400px; position: relative; border: 1px solid blue; width: 90%; margin-left: 10px;">

</div>

<br />


<script type="text/javascript">

function loadpage1(file)
{
  var j = ondemandManager.replacePage('container', '/wajaf/skin/pages/page1.html', ['/wajaf/skin/js/js1.js'], ['/wajaf/skin/css/css1.css'], null, true, true);
}

function loadpage2(file)
{
  var j = ondemandManager.replacePage('container', '/wajaf/skin/pages/page2.html', ['/wajaf/skin/js/js2.js'], ['/wajaf/skin/css/css3.css'], null, true, true);
}

function unloadpage(file)
{
  var j = ondemandManager.unload('container', true);
}

</script>

